@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Light.0.woff2") format("woff2");
  unicode-range:
    U+000D, U+0020-007E, U+00A0-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03E1,
    U+03F0-0506;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Light.1.woff2") format("woff2");
  unicode-range:
    U+0507-052F, U+0531-0556, U+0559-058A, U+058D-058F, U+0E3F, U+10FB, U+1100-11FF, U+1AB0-1AB5,
    U+1AB7-1AB8, U+1ABB-1ABD, U+1ABF-1ACF, U+1AD9-1ADD, U+1AE0-1AEB, U+1C80-1C8A, U+1D00-1DBF,
    U+1DC3-1DC7, U+1DCA-1DCF, U+1DD3-1DD5, U+1DD7-1F15, U+1F18-1F1D, U+1F20-1F45, U+1F48-1F4D,
    U+1F50-1F57, U+1F59, U+1F5B, U+1F5D, U+1F5F-1F7D, U+1F80-1FB4, U+1FB6-1FC4, U+1FC6-1FD3,
    U+1FD6-1FDB, U+1FDD-1FEF, U+1FF2-1FF4, U+1FF6-1FFE, U+2000-200D, U+2010-2013;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Light.2.woff2") format("woff2");
  unicode-range:
    U+2014-2029, U+202F-2064, U+2070-2071, U+2074-208E, U+2090-209C, U+20A1, U+20A3-20AF,
    U+20B1-20B5, U+20B8-20BA, U+20BC-20C0, U+20D0-20D3, U+20D6-20D8, U+20DB-20DD, U+20E1,
    U+20E5-20E6, U+20E8-20E9, U+20EB-20F0, U+2100-2103, U+2105-2109, U+210C-210F, U+2111, U+2113,
    U+2115-211A, U+211C-211D, U+2120-2122, U+2124, U+2126-212B, U+212D-212E, U+2132, U+2135-2149,
    U+214B, U+214D-218B, U+2190-232B, U+232D-237B, U+237D-238B, U+238D, U+2394-2395, U+239B-23AE,
    U+23B0-23B3, U+23B8-23CC, U+23CE-23CF, U+23DA-23DB, U+23E2, U+23E4-23E5, U+23E8-2429,
    U+2440-2445, U+2460-2577;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Light.3.woff2") format("woff2");
  unicode-range:
    U+2578-2603, U+2605-2607, U+2609, U+260E-2613, U+2616-2617, U+261C-261F, U+2621, U+2626, U+2628,
    U+262F-2637, U+2639-263C, U+263F-2642, U+2660-266F, U+2672-267E, U+2680-2691, U+2699, U+269B,
    U+26A0-26A1, U+26AA-26AF, U+26B2, U+26BD-26BE, U+26CB, U+26DA, U+26DD-26DE, U+26ED-26EF, U+26F6,
    U+2702, U+2705, U+2713-2718, U+271A-271D, U+2720-2727, U+2731-2734, U+2736-274C, U+274E, U+2756,
    U+2758-275A, U+2761, U+2764, U+276C-2771, U+2776-2794, U+279C-279E, U+27A1-27A7, U+27B0, U+27BF,
    U+27C2, U+27CA-27CB, U+27CD, U+27D2-27E1, U+27E6-27EB, U+27EE-2926, U+2933-2935, U+2940-2941,
    U+2947-2948, U+294A-2965, U+296E-296F, U+2980-2984, U+2987-298A, U+2999-299A, U+29A2-29A3,
    U+29B0-29BF, U+29C4-29CB, U+29CD-29CE, U+29D1-29DB, U+29DF, U+29E2-29E9, U+29EB, U+29F4-29FB,
    U+2A00-2A02, U+2A05-2A06, U+2A09, U+2A11-2A16, U+2A1D-2A26, U+2A2A-2A32, U+2A34-2A36, U+2A38,
    U+2A3C-2A43, U+2A4C-2A4F, U+2A53-2A54, U+2A57-2A58, U+2A5A-2A73, U+2A7D-2A80, U+2A85-2A8A,
    U+2A8D-2A8E, U+2A95-2A9A, U+2A9D-2A9E, U+2AAA-2ABA, U+2ABD-2ABE, U+2ACF-2AD2, U+2AD9-2AE0,
    U+2AE2-2AF6, U+2AFC-2AFD, U+2B00-2B3F, U+2B45-2B46, U+2B4D, U+2B50-2B55, U+2B58-2B59,
    U+2B60-2B73, U+2B7A-2B87, U+2B8C-2B95, U+2BA0-2BA7, U+2BB8-2BC8, U+2BCA-2BD2, U+2BE8-2BEF,
    U+2BFA-2BFF, U+2C60-2C7F, U+2DE0-2DFF, U+2E0B-2E0D, U+2E12-2E13, U+2E18, U+2E1A-2E2E;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Light.4.woff2") format("woff2");
  unicode-range:
    U+2E2F-2E38, U+2E3A-2E3B, U+2E3D-2E3E, U+2E40-2E4B, U+2E52, U+2E59-2E5C, U+2FF0-303F,
    U+3041-3096, U+3099-30FF, U+3105-312F, U+3131-318E, U+3190-31E5, U+31EF-321E, U+3220-332B,
    U+332D-33FF, U+4DC0-4DFF, U+A640-A695;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Light.5.woff2") format("woff2");
  unicode-range:
    U+A696-A69F, U+A700-A727, U+A72A-A737, U+A73E-A745, U+A748-A74B, U+A74E-A751, U+A75A-A75B,
    U+A760-A761, U+A764-A767, U+A779-A795, U+A798-A7C1, U+A7C4-A7CF, U+A7DA-A7DC, U+A7F1-A7FF,
    U+A92E, U+A960-A97C, U+AB30-AB33, U+AB35-AB47, U+AB49, U+AB4B-AB4F, U+AB52-AB53, U+AB5B-AB6B,
    U+AC00-AFA4;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Light.6.woff2") format("woff2");
  unicode-range: U+AFA5-B454;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Light.7.woff2") format("woff2");
  unicode-range: U+B455-B904;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Light.8.woff2") format("woff2");
  unicode-range: U+B905-BDB4;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Light.9.woff2") format("woff2");
  unicode-range: U+BDB5-C264;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Light.10.woff2") format("woff2");
  unicode-range: U+C265-C714;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Light.11.woff2") format("woff2");
  unicode-range: U+C715-CBC4;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Light.12.woff2") format("woff2");
  unicode-range: U+CBC5-D074;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Light.13.woff2") format("woff2");
  unicode-range: U+D075-D524;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Light.14.woff2") format("woff2");
  unicode-range:
    U+D525-D7A3, U+D7B0-D7C6, U+D7CB-D7FB, U+E0A0-E0A3, U+E0AE-E0BF, U+EE00-EE0B, U+F880-F883,
    U+F891-F892, U+F896-F89F, U+FB00-FB06, U+FB29, U+FE10-FE19, U+FE30-FE52, U+FE54-FE66,
    U+FE68-FE6B, U+FEFF, U+FF01-FFBE, U+FFC2-FFC7, U+FFCA-FFCF, U+FFD2-FFD7, U+FFDA-FFDC,
    U+FFE0-FFE6, U+FFE8-FFEE, U+FFFC-FFFD, U+10780-10785, U+10787-107B0, U+107B2-107BA,
    U+1CC00-1CC45, U+1CC56-1CC5D;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Light.15.woff2") format("woff2");
  unicode-range:
    U+1CC5E-1CC63, U+1CC65-1CC91, U+1CC97-1CC9D, U+1CCA6-1CCB9, U+1CCD2-1CCF9, U+1CD00-1CDE5,
    U+1CDF0-1CDF7, U+1CDFB-1CDFC, U+1CE00-1CEB1, U+1CEB3, U+1D110-1D112, U+1D12A-1D133,
    U+1D18C-1D191, U+1D300-1D356, U+1D360-1D371, U+1D377-1D378, U+1D400-1D454, U+1D456-1D49B,
    U+1D504-1D505, U+1D507-1D50A, U+1D50D-1D514, U+1D516-1D51C, U+1D51E-1D539, U+1D53B-1D53E,
    U+1D540-1D544, U+1D546, U+1D54A-1D550, U+1D552-1D68D;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Light.16.woff2") format("woff2");
  unicode-range:
    U+1D68E-1D6A5, U+1D6A8-1D7CB, U+1D7CE-1D7FF, U+1DF01-1DF10, U+1DF12-1DF1E, U+1E030-1E06D,
    U+1E08F, U+1F0A0-1F0AE, U+1F0B1-1F0BF, U+1F0C1-1F0CF, U+1F0D1-1F0F5, U+1F100-1F1AD,
    U+1F200-1F202, U+1F210-1F23B, U+1F240-1F248, U+1F250-1F251, U+1F780-1F7BF, U+1F800-1F80B,
    U+1F810-1F847, U+1F850-1F859, U+1F860-1F887, U+1F8B0-1F8BB, U+1F8C0-1F8C1, U+1F8D0-1F8D8,
    U+1FB00-1FB92, U+1FB94-1FBCA, U+1FBCC, U+1FBCE-1FBE1;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Light.17.woff2") format("woff2");
  unicode-range: U+1FBE2-1FBF9, U+30729, U+30EDD-30EDE, U+3106C;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Regular.0.woff2") format("woff2");
  unicode-range:
    U+000D, U+0020-007E, U+00A0-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03E1,
    U+03F0-0506;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Regular.1.woff2") format("woff2");
  unicode-range:
    U+0507-052F, U+0531-0556, U+0559-058A, U+058D-058F, U+0E3F, U+10FB, U+1100-11FF, U+1AB0-1AB5,
    U+1AB7-1AB8, U+1ABB-1ABD, U+1ABF-1ACF, U+1AD9-1ADD, U+1AE0-1AEB, U+1C80-1C8A, U+1D00-1DBF,
    U+1DC3-1DC7, U+1DCA-1DCF, U+1DD3-1DD5, U+1DD7-1F15, U+1F18-1F1D, U+1F20-1F45, U+1F48-1F4D,
    U+1F50-1F57, U+1F59, U+1F5B, U+1F5D, U+1F5F-1F7D, U+1F80-1FB4, U+1FB6-1FC4, U+1FC6-1FD3,
    U+1FD6-1FDB, U+1FDD-1FEF, U+1FF2-1FF4, U+1FF6-1FFE, U+2000-200D, U+2010-2013;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Regular.2.woff2") format("woff2");
  unicode-range:
    U+2014-2029, U+202F-2064, U+2070-2071, U+2074-208E, U+2090-209C, U+20A1, U+20A3-20AF,
    U+20B1-20B5, U+20B8-20BA, U+20BC-20C0, U+20D0-20D3, U+20D6-20D8, U+20DB-20DD, U+20E1,
    U+20E5-20E6, U+20E8-20E9, U+20EB-20F0, U+2100-2103, U+2105-2109, U+210C-210F, U+2111, U+2113,
    U+2115-211A, U+211C-211D, U+2120-2122, U+2124, U+2126-212B, U+212D-212E, U+2132, U+2135-2149,
    U+214B, U+214D-218B, U+2190-232B, U+232D-237B, U+237D-238B, U+238D, U+2394-2395, U+239B-23AE,
    U+23B0-23B3, U+23B8-23CC, U+23CE-23CF, U+23DA-23DB, U+23E2, U+23E4-23E5, U+23E8-2429,
    U+2440-2445, U+2460-2577;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Regular.3.woff2") format("woff2");
  unicode-range:
    U+2578-2603, U+2605-2607, U+2609, U+260E-2613, U+2616-2617, U+261C-261F, U+2621, U+2626, U+2628,
    U+262F-2637, U+2639-263C, U+263F-2642, U+2660-266F, U+2672-267E, U+2680-2691, U+2699, U+269B,
    U+26A0-26A1, U+26AA-26AF, U+26B2, U+26BD-26BE, U+26CB, U+26DA, U+26DD-26DE, U+26ED-26EF, U+26F6,
    U+2702, U+2705, U+2713-2718, U+271A-271D, U+2720-2727, U+2731-2734, U+2736-274C, U+274E, U+2756,
    U+2758-275A, U+2761, U+2764, U+276C-2771, U+2776-2794, U+279C-279E, U+27A1-27A7, U+27B0, U+27BF,
    U+27C2, U+27CA-27CB, U+27CD, U+27D2-27E1, U+27E6-27EB, U+27EE-2926, U+2933-2935, U+2940-2941,
    U+2947-2948, U+294A-2965, U+296E-296F, U+2980-2984, U+2987-298A, U+2999-299A, U+29A2-29A3,
    U+29B0-29BF, U+29C4-29CB, U+29CD-29CE, U+29D1-29DB, U+29DF, U+29E2-29E9, U+29EB, U+29F4-29FB,
    U+2A00-2A02, U+2A05-2A06, U+2A09, U+2A11-2A16, U+2A1D-2A26, U+2A2A-2A32, U+2A34-2A36, U+2A38,
    U+2A3C-2A43, U+2A4C-2A4F, U+2A53-2A54, U+2A57-2A58, U+2A5A-2A73, U+2A7D-2A80, U+2A85-2A8A,
    U+2A8D-2A8E, U+2A95-2A9A, U+2A9D-2A9E, U+2AAA-2ABA, U+2ABD-2ABE, U+2ACF-2AD2, U+2AD9-2AE0,
    U+2AE2-2AF6, U+2AFC-2AFD, U+2B00-2B3F, U+2B45-2B46, U+2B4D, U+2B50-2B55, U+2B58-2B59,
    U+2B60-2B73, U+2B7A-2B87, U+2B8C-2B95, U+2BA0-2BA7, U+2BB8-2BC8, U+2BCA-2BD2, U+2BE8-2BEF,
    U+2BFA-2BFF, U+2C60-2C7F, U+2DE0-2DFF, U+2E0B-2E0D, U+2E12-2E13, U+2E18, U+2E1A-2E2E;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Regular.4.woff2") format("woff2");
  unicode-range:
    U+2E2F-2E38, U+2E3A-2E3B, U+2E3D-2E3E, U+2E40-2E4B, U+2E52, U+2E59-2E5C, U+2FF0-303F,
    U+3041-3096, U+3099-30FF, U+3105-312F, U+3131-318E, U+3190-31E5, U+31EF-321E, U+3220-332B,
    U+332D-33FF, U+4DC0-4DFF, U+A640-A695;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Regular.5.woff2") format("woff2");
  unicode-range:
    U+A696-A69F, U+A700-A727, U+A72A-A737, U+A73E-A745, U+A748-A74B, U+A74E-A751, U+A75A-A75B,
    U+A760-A761, U+A764-A767, U+A779-A795, U+A798-A7C1, U+A7C4-A7CF, U+A7DA-A7DC, U+A7F1-A7FF,
    U+A92E, U+A960-A97C, U+AB30-AB33, U+AB35-AB47, U+AB49, U+AB4B-AB4F, U+AB52-AB53, U+AB5B-AB6B,
    U+AC00-AFA4;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Regular.6.woff2") format("woff2");
  unicode-range: U+AFA5-B454;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Regular.7.woff2") format("woff2");
  unicode-range: U+B455-B904;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Regular.8.woff2") format("woff2");
  unicode-range: U+B905-BDB4;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Regular.9.woff2") format("woff2");
  unicode-range: U+BDB5-C264;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Regular.10.woff2") format("woff2");
  unicode-range: U+C265-C714;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Regular.11.woff2") format("woff2");
  unicode-range: U+C715-CBC4;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Regular.12.woff2") format("woff2");
  unicode-range: U+CBC5-D074;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Regular.13.woff2") format("woff2");
  unicode-range: U+D075-D524;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Regular.14.woff2") format("woff2");
  unicode-range:
    U+D525-D7A3, U+D7B0-D7C6, U+D7CB-D7FB, U+E0A0-E0A3, U+E0AE-E0BF, U+EE00-EE0B, U+F880-F883,
    U+F891-F892, U+F896-F89F, U+FB00-FB06, U+FB29, U+FE10-FE19, U+FE30-FE52, U+FE54-FE66,
    U+FE68-FE6B, U+FEFF, U+FF01-FFBE, U+FFC2-FFC7, U+FFCA-FFCF, U+FFD2-FFD7, U+FFDA-FFDC,
    U+FFE0-FFE6, U+FFE8-FFEE, U+FFFC-FFFD, U+10780-10785, U+10787-107B0, U+107B2-107BA,
    U+1CC00-1CC45, U+1CC56-1CC5D;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Regular.15.woff2") format("woff2");
  unicode-range:
    U+1CC5E-1CC63, U+1CC65-1CC91, U+1CC97-1CC9D, U+1CCA6-1CCB9, U+1CCD2-1CCF9, U+1CD00-1CDE5,
    U+1CDF0-1CDF7, U+1CDFB-1CDFC, U+1CE00-1CEB1, U+1CEB3, U+1D110-1D112, U+1D12A-1D133,
    U+1D18C-1D191, U+1D300-1D356, U+1D360-1D371, U+1D377-1D378, U+1D400-1D454, U+1D456-1D49B,
    U+1D504-1D505, U+1D507-1D50A, U+1D50D-1D514, U+1D516-1D51C, U+1D51E-1D539, U+1D53B-1D53E,
    U+1D540-1D544, U+1D546, U+1D54A-1D550, U+1D552-1D68D;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Regular.16.woff2") format("woff2");
  unicode-range:
    U+1D68E-1D6A5, U+1D6A8-1D7CB, U+1D7CE-1D7FF, U+1DF01-1DF10, U+1DF12-1DF1E, U+1E030-1E06D,
    U+1E08F, U+1F0A0-1F0AE, U+1F0B1-1F0BF, U+1F0C1-1F0CF, U+1F0D1-1F0F5, U+1F100-1F1AD,
    U+1F200-1F202, U+1F210-1F23B, U+1F240-1F248, U+1F250-1F251, U+1F780-1F7BF, U+1F800-1F80B,
    U+1F810-1F847, U+1F850-1F859, U+1F860-1F887, U+1F8B0-1F8BB, U+1F8C0-1F8C1, U+1F8D0-1F8D8,
    U+1FB00-1FB92, U+1FB94-1FBCA, U+1FBCC, U+1FBCE-1FBE1;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Regular.17.woff2") format("woff2");
  unicode-range: U+1FBE2-1FBF9, U+30729, U+30EDD-30EDE, U+3106C;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Bold.0.woff2") format("woff2");
  unicode-range:
    U+000D, U+0020-007E, U+00A0-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03E1,
    U+03F0-0506;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Bold.1.woff2") format("woff2");
  unicode-range:
    U+0507-052F, U+0531-0556, U+0559-058A, U+058D-058F, U+0E3F, U+10FB, U+1100-11FF, U+1AB0-1AB5,
    U+1AB7-1AB8, U+1ABB-1ABD, U+1ABF-1ACF, U+1AD9-1ADD, U+1AE0-1AEB, U+1C80-1C8A, U+1D00-1DBF,
    U+1DC3-1DC7, U+1DCA-1DCF, U+1DD3-1DD5, U+1DD7-1F15, U+1F18-1F1D, U+1F20-1F45, U+1F48-1F4D,
    U+1F50-1F57, U+1F59, U+1F5B, U+1F5D, U+1F5F-1F7D, U+1F80-1FB4, U+1FB6-1FC4, U+1FC6-1FD3,
    U+1FD6-1FDB, U+1FDD-1FEF, U+1FF2-1FF4, U+1FF6-1FFE, U+2000-200D, U+2010-2013;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Bold.2.woff2") format("woff2");
  unicode-range:
    U+2014-2029, U+202F-2064, U+2070-2071, U+2074-208E, U+2090-209C, U+20A1, U+20A3-20AF,
    U+20B1-20B5, U+20B8-20BA, U+20BC-20C0, U+20D0-20D3, U+20D6-20D8, U+20DB-20DD, U+20E1,
    U+20E5-20E6, U+20E8-20E9, U+20EB-20F0, U+2100-2103, U+2105-2109, U+210C-210F, U+2111, U+2113,
    U+2115-211A, U+211C-211D, U+2120-2122, U+2124, U+2126-212B, U+212D-212E, U+2132, U+2135-2149,
    U+214B, U+214D-218B, U+2190-232B, U+232D-237B, U+237D-238B, U+238D, U+2394-2395, U+239B-23AE,
    U+23B0-23B3, U+23B8-23CC, U+23CE-23CF, U+23DA-23DB, U+23E2, U+23E4-23E5, U+23E8-2429,
    U+2440-2445, U+2460-2577;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Bold.3.woff2") format("woff2");
  unicode-range:
    U+2578-2603, U+2605-2607, U+2609, U+260E-2613, U+2616-2617, U+261C-261F, U+2621, U+2626, U+2628,
    U+262F-2637, U+2639-263C, U+263F-2642, U+2660-266F, U+2672-267E, U+2680-2691, U+2699, U+269B,
    U+26A0-26A1, U+26AA-26AF, U+26B2, U+26BD-26BE, U+26CB, U+26DA, U+26DD-26DE, U+26ED-26EF, U+26F6,
    U+2702, U+2705, U+2713-2718, U+271A-271D, U+2720-2727, U+2731-2734, U+2736-274C, U+274E, U+2756,
    U+2758-275A, U+2761, U+2764, U+276C-2771, U+2776-2794, U+279C-279E, U+27A1-27A7, U+27B0, U+27BF,
    U+27C2, U+27CA-27CB, U+27CD, U+27D2-27E1, U+27E6-27EB, U+27EE-2926, U+2933-2935, U+2940-2941,
    U+2947-2948, U+294A-2965, U+296E-296F, U+2980-2984, U+2987-298A, U+2999-299A, U+29A2-29A3,
    U+29B0-29BF, U+29C4-29CB, U+29CD-29CE, U+29D1-29DB, U+29DF, U+29E2-29E9, U+29EB, U+29F4-29FB,
    U+2A00-2A02, U+2A05-2A06, U+2A09, U+2A11-2A16, U+2A1D-2A26, U+2A2A-2A32, U+2A34-2A36, U+2A38,
    U+2A3C-2A43, U+2A4C-2A4F, U+2A53-2A54, U+2A57-2A58, U+2A5A-2A73, U+2A7D-2A80, U+2A85-2A8A,
    U+2A8D-2A8E, U+2A95-2A9A, U+2A9D-2A9E, U+2AAA-2ABA, U+2ABD-2ABE, U+2ACF-2AD2, U+2AD9-2AE0,
    U+2AE2-2AF6, U+2AFC-2AFD, U+2B00-2B3F, U+2B45-2B46, U+2B4D, U+2B50-2B55, U+2B58-2B59,
    U+2B60-2B73, U+2B7A-2B87, U+2B8C-2B95, U+2BA0-2BA7, U+2BB8-2BC8, U+2BCA-2BD2, U+2BE8-2BEF,
    U+2BFA-2BFF, U+2C60-2C7F, U+2DE0-2DFF, U+2E0B-2E0D, U+2E12-2E13, U+2E18, U+2E1A-2E2E;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Bold.4.woff2") format("woff2");
  unicode-range:
    U+2E2F-2E38, U+2E3A-2E3B, U+2E3D-2E3E, U+2E40-2E4B, U+2E52, U+2E59-2E5C, U+2FF0-303F,
    U+3041-3096, U+3099-30FF, U+3105-312F, U+3131-318E, U+3190-31E5, U+31EF-321E, U+3220-332B,
    U+332D-33FF, U+4DC0-4DFF, U+A640-A695;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Bold.5.woff2") format("woff2");
  unicode-range:
    U+A696-A69F, U+A700-A727, U+A72A-A737, U+A73E-A745, U+A748-A74B, U+A74E-A751, U+A75A-A75B,
    U+A760-A761, U+A764-A767, U+A779-A795, U+A798-A7C1, U+A7C4-A7CF, U+A7DA-A7DC, U+A7F1-A7FF,
    U+A92E, U+A960-A97C, U+AB30-AB33, U+AB35-AB47, U+AB49, U+AB4B-AB4F, U+AB52-AB53, U+AB5B-AB6B,
    U+AC00-AFA4;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Bold.6.woff2") format("woff2");
  unicode-range: U+AFA5-B454;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Bold.7.woff2") format("woff2");
  unicode-range: U+B455-B904;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Bold.8.woff2") format("woff2");
  unicode-range: U+B905-BDB4;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Bold.9.woff2") format("woff2");
  unicode-range: U+BDB5-C264;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Bold.10.woff2") format("woff2");
  unicode-range: U+C265-C714;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Bold.11.woff2") format("woff2");
  unicode-range: U+C715-CBC4;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Bold.12.woff2") format("woff2");
  unicode-range: U+CBC5-D074;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Bold.13.woff2") format("woff2");
  unicode-range: U+D075-D524;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Bold.14.woff2") format("woff2");
  unicode-range:
    U+D525-D7A3, U+D7B0-D7C6, U+D7CB-D7FB, U+E0A0-E0A3, U+E0AE-E0BF, U+EE00-EE0B, U+F880-F883,
    U+F891-F892, U+F896-F89F, U+FB00-FB06, U+FB29, U+FE10-FE19, U+FE30-FE52, U+FE54-FE66,
    U+FE68-FE6B, U+FEFF, U+FF01-FFBE, U+FFC2-FFC7, U+FFCA-FFCF, U+FFD2-FFD7, U+FFDA-FFDC,
    U+FFE0-FFE6, U+FFE8-FFEE, U+FFFC-FFFD, U+10780-10785, U+10787-107B0, U+107B2-107BA,
    U+1CC00-1CC45, U+1CC56-1CC5D;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Bold.15.woff2") format("woff2");
  unicode-range:
    U+1CC5E-1CC63, U+1CC65-1CC91, U+1CC97-1CC9D, U+1CCA6-1CCB9, U+1CCD2-1CCF9, U+1CD00-1CDE5,
    U+1CDF0-1CDF7, U+1CDFB-1CDFC, U+1CE00-1CEB1, U+1CEB3, U+1D110-1D112, U+1D12A-1D133,
    U+1D18C-1D191, U+1D300-1D356, U+1D360-1D371, U+1D377-1D378, U+1D400-1D454, U+1D456-1D49B,
    U+1D504-1D505, U+1D507-1D50A, U+1D50D-1D514, U+1D516-1D51C, U+1D51E-1D539, U+1D53B-1D53E,
    U+1D540-1D544, U+1D546, U+1D54A-1D550, U+1D552-1D68D;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Bold.16.woff2") format("woff2");
  unicode-range:
    U+1D68E-1D6A5, U+1D6A8-1D7CB, U+1D7CE-1D7FF, U+1DF01-1DF10, U+1DF12-1DF1E, U+1E030-1E06D,
    U+1E08F, U+1F0A0-1F0AE, U+1F0B1-1F0BF, U+1F0C1-1F0CF, U+1F0D1-1F0F5, U+1F100-1F1AD,
    U+1F200-1F202, U+1F210-1F23B, U+1F240-1F248, U+1F250-1F251, U+1F780-1F7BF, U+1F800-1F80B,
    U+1F810-1F847, U+1F850-1F859, U+1F860-1F887, U+1F8B0-1F8BB, U+1F8C0-1F8C1, U+1F8D0-1F8D8,
    U+1FB00-1FB92, U+1FB94-1FBCA, U+1FBCC, U+1FBCE-1FBE1;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Bold.17.woff2") format("woff2");
  unicode-range: U+1FBE2-1FBF9, U+30729, U+30EDD-30EDE, U+3106C;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-LightItalic.0.woff2") format("woff2");
  unicode-range:
    U+000D, U+0020-007E, U+00A0-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03E1,
    U+03F0-0506;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-LightItalic.1.woff2") format("woff2");
  unicode-range:
    U+0507-052F, U+0531-0556, U+0559-058A, U+058D-058F, U+0E3F, U+10FB, U+1100-11FF, U+1AB0-1AB5,
    U+1AB7-1AB8, U+1ABB-1ABD, U+1ABF-1ACF, U+1AD9-1ADD, U+1AE0-1AEB, U+1C80-1C8A, U+1D00-1DBF,
    U+1DC3-1DC7, U+1DCA-1DCF, U+1DD3-1DD5, U+1DD7-1F15, U+1F18-1F1D, U+1F20-1F45, U+1F48-1F4D,
    U+1F50-1F57, U+1F59, U+1F5B, U+1F5D, U+1F5F-1F7D, U+1F80-1FB4, U+1FB6-1FC4, U+1FC6-1FD3,
    U+1FD6-1FDB, U+1FDD-1FEF, U+1FF2-1FF4, U+1FF6-1FFE, U+2000-200D, U+2010-2013;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-LightItalic.2.woff2") format("woff2");
  unicode-range:
    U+2014-2029, U+202F-2064, U+2070-2071, U+2074-208E, U+2090-209C, U+20A1, U+20A3-20AF,
    U+20B1-20B5, U+20B8-20BA, U+20BC-20C0, U+20D0-20D3, U+20D6-20D8, U+20DB-20DD, U+20E1,
    U+20E5-20E6, U+20E8-20E9, U+20EB-20F0, U+2100-2103, U+2105-2109, U+210C-210F, U+2111, U+2113,
    U+2115-211A, U+211C-211D, U+2120-2122, U+2124, U+2126-212B, U+212D-212E, U+2132, U+2135-2149,
    U+214B, U+214D-218B, U+2190-232B, U+232D-237B, U+237D-238B, U+238D, U+2394-2395, U+239B-23AE,
    U+23B0-23B3, U+23B8-23CC, U+23CE-23CF, U+23DA-23DB, U+23E2, U+23E4-23E5, U+23E8-2429,
    U+2440-2445, U+2460-2577;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-LightItalic.3.woff2") format("woff2");
  unicode-range:
    U+2578-2603, U+2605-2607, U+2609, U+260E-2613, U+2616-2617, U+261C-261F, U+2621, U+2626, U+2628,
    U+262F-2637, U+2639-263C, U+263F-2642, U+2660-266F, U+2672-267E, U+2680-2691, U+2699, U+269B,
    U+26A0-26A1, U+26AA-26AF, U+26B2, U+26BD-26BE, U+26CB, U+26DA, U+26DD-26DE, U+26ED-26EF, U+26F6,
    U+2702, U+2705, U+2713-2718, U+271A-271D, U+2720-2727, U+2731-2734, U+2736-274C, U+274E, U+2756,
    U+2758-275A, U+2761, U+2764, U+276C-2771, U+2776-2794, U+279C-279E, U+27A1-27A7, U+27B0, U+27BF,
    U+27C2, U+27CA-27CB, U+27CD, U+27D2-27E1, U+27E6-27EB, U+27EE-2926, U+2933-2935, U+2940-2941,
    U+2947-2948, U+294A-2965, U+296E-296F, U+2980-2984, U+2987-298A, U+2999-299A, U+29A2-29A3,
    U+29B0-29BF, U+29C4-29CB, U+29CD-29CE, U+29D1-29DB, U+29DF, U+29E2-29E9, U+29EB, U+29F4-29FB,
    U+2A00-2A02, U+2A05-2A06, U+2A09, U+2A11-2A16, U+2A1D-2A26, U+2A2A-2A32, U+2A34-2A36, U+2A38,
    U+2A3C-2A43, U+2A4C-2A4F, U+2A53-2A54, U+2A57-2A58, U+2A5A-2A73, U+2A7D-2A80, U+2A85-2A8A,
    U+2A8D-2A8E, U+2A95-2A9A, U+2A9D-2A9E, U+2AAA-2ABA, U+2ABD-2ABE, U+2ACF-2AD2, U+2AD9-2AE0,
    U+2AE2-2AF6, U+2AFC-2AFD, U+2B00-2B3F, U+2B45-2B46, U+2B4D, U+2B50-2B55, U+2B58-2B59,
    U+2B60-2B73, U+2B7A-2B87, U+2B8C-2B95, U+2BA0-2BA7, U+2BB8-2BC8, U+2BCA-2BD2, U+2BE8-2BEF,
    U+2BFA-2BFF, U+2C60-2C7F, U+2DE0-2DFF, U+2E0B-2E0D, U+2E12-2E13, U+2E18, U+2E1A-2E2E;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-LightItalic.4.woff2") format("woff2");
  unicode-range:
    U+2E2F-2E38, U+2E3A-2E3B, U+2E3D-2E3E, U+2E40-2E4B, U+2E52, U+2E59-2E5C, U+2FF0-303F,
    U+3041-3096, U+3099-30FF, U+3105-312F, U+3131-318E, U+3190-31E5, U+31EF-321E, U+3220-332B,
    U+332D-33FF, U+4DC0-4DFF, U+A640-A695;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-LightItalic.5.woff2") format("woff2");
  unicode-range:
    U+A696-A69F, U+A700-A727, U+A72A-A737, U+A73E-A745, U+A748-A74B, U+A74E-A751, U+A75A-A75B,
    U+A760-A761, U+A764-A767, U+A779-A795, U+A798-A7C1, U+A7C4-A7CF, U+A7DA-A7DC, U+A7F1-A7FF,
    U+A92E, U+A960-A97C, U+AB30-AB33, U+AB35-AB47, U+AB49, U+AB4B-AB4F, U+AB52-AB53, U+AB5B-AB6B,
    U+AC00-AFA4;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-LightItalic.6.woff2") format("woff2");
  unicode-range: U+AFA5-B454;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-LightItalic.7.woff2") format("woff2");
  unicode-range: U+B455-B904;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-LightItalic.8.woff2") format("woff2");
  unicode-range: U+B905-BDB4;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-LightItalic.9.woff2") format("woff2");
  unicode-range: U+BDB5-C264;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-LightItalic.10.woff2") format("woff2");
  unicode-range: U+C265-C714;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-LightItalic.11.woff2") format("woff2");
  unicode-range: U+C715-CBC4;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-LightItalic.12.woff2") format("woff2");
  unicode-range: U+CBC5-D074;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-LightItalic.13.woff2") format("woff2");
  unicode-range: U+D075-D524;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-LightItalic.14.woff2") format("woff2");
  unicode-range:
    U+D525-D7A3, U+D7B0-D7C6, U+D7CB-D7FB, U+E0A0-E0A3, U+E0AE-E0BF, U+EE00-EE0B, U+F880-F883,
    U+F891-F892, U+F896-F89F, U+FB00-FB06, U+FB29, U+FE10-FE19, U+FE30-FE52, U+FE54-FE66,
    U+FE68-FE6B, U+FEFF, U+FF01-FFBE, U+FFC2-FFC7, U+FFCA-FFCF, U+FFD2-FFD7, U+FFDA-FFDC,
    U+FFE0-FFE6, U+FFE8-FFEE, U+FFFC-FFFD, U+10780-10785, U+10787-107B0, U+107B2-107BA,
    U+1CC00-1CC45, U+1CC56-1CC5D;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-LightItalic.15.woff2") format("woff2");
  unicode-range:
    U+1CC5E-1CC63, U+1CC65-1CC91, U+1CC97-1CC9D, U+1CCA6-1CCB9, U+1CCD2-1CCF9, U+1CD00-1CDE5,
    U+1CDF0-1CDF7, U+1CDFB-1CDFC, U+1CE00-1CEB1, U+1CEB3, U+1D110-1D112, U+1D12A-1D133,
    U+1D18C-1D191, U+1D300-1D356, U+1D360-1D371, U+1D377-1D378, U+1D400-1D454, U+1D456-1D49B,
    U+1D504-1D505, U+1D507-1D50A, U+1D50D-1D514, U+1D516-1D51C, U+1D51E-1D539, U+1D53B-1D53E,
    U+1D540-1D544, U+1D546, U+1D54A-1D550, U+1D552-1D68D;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-LightItalic.16.woff2") format("woff2");
  unicode-range:
    U+1D68E-1D6A5, U+1D6A8-1D7CB, U+1D7CE-1D7FF, U+1DF01-1DF10, U+1DF12-1DF1E, U+1E030-1E06D,
    U+1E08F, U+1F0A0-1F0AE, U+1F0B1-1F0BF, U+1F0C1-1F0CF, U+1F0D1-1F0F5, U+1F100-1F1AD,
    U+1F200-1F202, U+1F210-1F23B, U+1F240-1F248, U+1F250-1F251, U+1F780-1F7BF, U+1F800-1F80B,
    U+1F810-1F847, U+1F850-1F859, U+1F860-1F887, U+1F8B0-1F8BB, U+1F8C0-1F8C1, U+1F8D0-1F8D8,
    U+1FB00-1FB92, U+1FB94-1FBCA, U+1FBCC, U+1FBCE-1FBE1;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("woff2/SarasaFixedK-LightItalic.17.woff2") format("woff2");
  unicode-range: U+1FBE2-1FBF9, U+30729, U+30EDD-30EDE, U+3106C;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Italic.0.woff2") format("woff2");
  unicode-range:
    U+000D, U+0020-007E, U+00A0-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03E1,
    U+03F0-0506;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Italic.1.woff2") format("woff2");
  unicode-range:
    U+0507-052F, U+0531-0556, U+0559-058A, U+058D-058F, U+0E3F, U+10FB, U+1100-11FF, U+1AB0-1AB5,
    U+1AB7-1AB8, U+1ABB-1ABD, U+1ABF-1ACF, U+1AD9-1ADD, U+1AE0-1AEB, U+1C80-1C8A, U+1D00-1DBF,
    U+1DC3-1DC7, U+1DCA-1DCF, U+1DD3-1DD5, U+1DD7-1F15, U+1F18-1F1D, U+1F20-1F45, U+1F48-1F4D,
    U+1F50-1F57, U+1F59, U+1F5B, U+1F5D, U+1F5F-1F7D, U+1F80-1FB4, U+1FB6-1FC4, U+1FC6-1FD3,
    U+1FD6-1FDB, U+1FDD-1FEF, U+1FF2-1FF4, U+1FF6-1FFE, U+2000-200D, U+2010-2013;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Italic.2.woff2") format("woff2");
  unicode-range:
    U+2014-2029, U+202F-2064, U+2070-2071, U+2074-208E, U+2090-209C, U+20A1, U+20A3-20AF,
    U+20B1-20B5, U+20B8-20BA, U+20BC-20C0, U+20D0-20D3, U+20D6-20D8, U+20DB-20DD, U+20E1,
    U+20E5-20E6, U+20E8-20E9, U+20EB-20F0, U+2100-2103, U+2105-2109, U+210C-210F, U+2111, U+2113,
    U+2115-211A, U+211C-211D, U+2120-2122, U+2124, U+2126-212B, U+212D-212E, U+2132, U+2135-2149,
    U+214B, U+214D-218B, U+2190-232B, U+232D-237B, U+237D-238B, U+238D, U+2394-2395, U+239B-23AE,
    U+23B0-23B3, U+23B8-23CC, U+23CE-23CF, U+23DA-23DB, U+23E2, U+23E4-23E5, U+23E8-2429,
    U+2440-2445, U+2460-2577;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Italic.3.woff2") format("woff2");
  unicode-range:
    U+2578-2603, U+2605-2607, U+2609, U+260E-2613, U+2616-2617, U+261C-261F, U+2621, U+2626, U+2628,
    U+262F-2637, U+2639-263C, U+263F-2642, U+2660-266F, U+2672-267E, U+2680-2691, U+2699, U+269B,
    U+26A0-26A1, U+26AA-26AF, U+26B2, U+26BD-26BE, U+26CB, U+26DA, U+26DD-26DE, U+26ED-26EF, U+26F6,
    U+2702, U+2705, U+2713-2718, U+271A-271D, U+2720-2727, U+2731-2734, U+2736-274C, U+274E, U+2756,
    U+2758-275A, U+2761, U+2764, U+276C-2771, U+2776-2794, U+279C-279E, U+27A1-27A7, U+27B0, U+27BF,
    U+27C2, U+27CA-27CB, U+27CD, U+27D2-27E1, U+27E6-27EB, U+27EE-2926, U+2933-2935, U+2940-2941,
    U+2947-2948, U+294A-2965, U+296E-296F, U+2980-2984, U+2987-298A, U+2999-299A, U+29A2-29A3,
    U+29B0-29BF, U+29C4-29CB, U+29CD-29CE, U+29D1-29DB, U+29DF, U+29E2-29E9, U+29EB, U+29F4-29FB,
    U+2A00-2A02, U+2A05-2A06, U+2A09, U+2A11-2A16, U+2A1D-2A26, U+2A2A-2A32, U+2A34-2A36, U+2A38,
    U+2A3C-2A43, U+2A4C-2A4F, U+2A53-2A54, U+2A57-2A58, U+2A5A-2A73, U+2A7D-2A80, U+2A85-2A8A,
    U+2A8D-2A8E, U+2A95-2A9A, U+2A9D-2A9E, U+2AAA-2ABA, U+2ABD-2ABE, U+2ACF-2AD2, U+2AD9-2AE0,
    U+2AE2-2AF6, U+2AFC-2AFD, U+2B00-2B3F, U+2B45-2B46, U+2B4D, U+2B50-2B55, U+2B58-2B59,
    U+2B60-2B73, U+2B7A-2B87, U+2B8C-2B95, U+2BA0-2BA7, U+2BB8-2BC8, U+2BCA-2BD2, U+2BE8-2BEF,
    U+2BFA-2BFF, U+2C60-2C7F, U+2DE0-2DFF, U+2E0B-2E0D, U+2E12-2E13, U+2E18, U+2E1A-2E2E;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Italic.4.woff2") format("woff2");
  unicode-range:
    U+2E2F-2E38, U+2E3A-2E3B, U+2E3D-2E3E, U+2E40-2E4B, U+2E52, U+2E59-2E5C, U+2FF0-303F,
    U+3041-3096, U+3099-30FF, U+3105-312F, U+3131-318E, U+3190-31E5, U+31EF-321E, U+3220-332B,
    U+332D-33FF, U+4DC0-4DFF, U+A640-A695;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Italic.5.woff2") format("woff2");
  unicode-range:
    U+A696-A69F, U+A700-A727, U+A72A-A737, U+A73E-A745, U+A748-A74B, U+A74E-A751, U+A75A-A75B,
    U+A760-A761, U+A764-A767, U+A779-A795, U+A798-A7C1, U+A7C4-A7CF, U+A7DA-A7DC, U+A7F1-A7FF,
    U+A92E, U+A960-A97C, U+AB30-AB33, U+AB35-AB47, U+AB49, U+AB4B-AB4F, U+AB52-AB53, U+AB5B-AB6B,
    U+AC00-AFA4;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Italic.6.woff2") format("woff2");
  unicode-range: U+AFA5-B454;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Italic.7.woff2") format("woff2");
  unicode-range: U+B455-B904;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Italic.8.woff2") format("woff2");
  unicode-range: U+B905-BDB4;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Italic.9.woff2") format("woff2");
  unicode-range: U+BDB5-C264;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Italic.10.woff2") format("woff2");
  unicode-range: U+C265-C714;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Italic.11.woff2") format("woff2");
  unicode-range: U+C715-CBC4;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Italic.12.woff2") format("woff2");
  unicode-range: U+CBC5-D074;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Italic.13.woff2") format("woff2");
  unicode-range: U+D075-D524;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Italic.14.woff2") format("woff2");
  unicode-range:
    U+D525-D7A3, U+D7B0-D7C6, U+D7CB-D7FB, U+E0A0-E0A3, U+E0AE-E0BF, U+EE00-EE0B, U+F880-F883,
    U+F891-F892, U+F896-F89F, U+FB00-FB06, U+FB29, U+FE10-FE19, U+FE30-FE52, U+FE54-FE66,
    U+FE68-FE6B, U+FEFF, U+FF01-FFBE, U+FFC2-FFC7, U+FFCA-FFCF, U+FFD2-FFD7, U+FFDA-FFDC,
    U+FFE0-FFE6, U+FFE8-FFEE, U+FFFC-FFFD, U+10780-10785, U+10787-107B0, U+107B2-107BA,
    U+1CC00-1CC45, U+1CC56-1CC5D;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Italic.15.woff2") format("woff2");
  unicode-range:
    U+1CC5E-1CC63, U+1CC65-1CC91, U+1CC97-1CC9D, U+1CCA6-1CCB9, U+1CCD2-1CCF9, U+1CD00-1CDE5,
    U+1CDF0-1CDF7, U+1CDFB-1CDFC, U+1CE00-1CEB1, U+1CEB3, U+1D110-1D112, U+1D12A-1D133,
    U+1D18C-1D191, U+1D300-1D356, U+1D360-1D371, U+1D377-1D378, U+1D400-1D454, U+1D456-1D49B,
    U+1D504-1D505, U+1D507-1D50A, U+1D50D-1D514, U+1D516-1D51C, U+1D51E-1D539, U+1D53B-1D53E,
    U+1D540-1D544, U+1D546, U+1D54A-1D550, U+1D552-1D68D;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Italic.16.woff2") format("woff2");
  unicode-range:
    U+1D68E-1D6A5, U+1D6A8-1D7CB, U+1D7CE-1D7FF, U+1DF01-1DF10, U+1DF12-1DF1E, U+1E030-1E06D,
    U+1E08F, U+1F0A0-1F0AE, U+1F0B1-1F0BF, U+1F0C1-1F0CF, U+1F0D1-1F0F5, U+1F100-1F1AD,
    U+1F200-1F202, U+1F210-1F23B, U+1F240-1F248, U+1F250-1F251, U+1F780-1F7BF, U+1F800-1F80B,
    U+1F810-1F847, U+1F850-1F859, U+1F860-1F887, U+1F8B0-1F8BB, U+1F8C0-1F8C1, U+1F8D0-1F8D8,
    U+1FB00-1FB92, U+1FB94-1FBCA, U+1FBCC, U+1FBCE-1FBE1;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("woff2/SarasaFixedK-Italic.17.woff2") format("woff2");
  unicode-range: U+1FBE2-1FBF9, U+30729, U+30EDD-30EDE, U+3106C;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-BoldItalic.0.woff2") format("woff2");
  unicode-range:
    U+000D, U+0020-007E, U+00A0-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03E1,
    U+03F0-0506;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-BoldItalic.1.woff2") format("woff2");
  unicode-range:
    U+0507-052F, U+0531-0556, U+0559-058A, U+058D-058F, U+0E3F, U+10FB, U+1100-11FF, U+1AB0-1AB5,
    U+1AB7-1AB8, U+1ABB-1ABD, U+1ABF-1ACF, U+1AD9-1ADD, U+1AE0-1AEB, U+1C80-1C8A, U+1D00-1DBF,
    U+1DC3-1DC7, U+1DCA-1DCF, U+1DD3-1DD5, U+1DD7-1F15, U+1F18-1F1D, U+1F20-1F45, U+1F48-1F4D,
    U+1F50-1F57, U+1F59, U+1F5B, U+1F5D, U+1F5F-1F7D, U+1F80-1FB4, U+1FB6-1FC4, U+1FC6-1FD3,
    U+1FD6-1FDB, U+1FDD-1FEF, U+1FF2-1FF4, U+1FF6-1FFE, U+2000-200D, U+2010-2013;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-BoldItalic.2.woff2") format("woff2");
  unicode-range:
    U+2014-2029, U+202F-2064, U+2070-2071, U+2074-208E, U+2090-209C, U+20A1, U+20A3-20AF,
    U+20B1-20B5, U+20B8-20BA, U+20BC-20C0, U+20D0-20D3, U+20D6-20D8, U+20DB-20DD, U+20E1,
    U+20E5-20E6, U+20E8-20E9, U+20EB-20F0, U+2100-2103, U+2105-2109, U+210C-210F, U+2111, U+2113,
    U+2115-211A, U+211C-211D, U+2120-2122, U+2124, U+2126-212B, U+212D-212E, U+2132, U+2135-2149,
    U+214B, U+214D-218B, U+2190-232B, U+232D-237B, U+237D-238B, U+238D, U+2394-2395, U+239B-23AE,
    U+23B0-23B3, U+23B8-23CC, U+23CE-23CF, U+23DA-23DB, U+23E2, U+23E4-23E5, U+23E8-2429,
    U+2440-2445, U+2460-2577;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-BoldItalic.3.woff2") format("woff2");
  unicode-range:
    U+2578-2603, U+2605-2607, U+2609, U+260E-2613, U+2616-2617, U+261C-261F, U+2621, U+2626, U+2628,
    U+262F-2637, U+2639-263C, U+263F-2642, U+2660-266F, U+2672-267E, U+2680-2691, U+2699, U+269B,
    U+26A0-26A1, U+26AA-26AF, U+26B2, U+26BD-26BE, U+26CB, U+26DA, U+26DD-26DE, U+26ED-26EF, U+26F6,
    U+2702, U+2705, U+2713-2718, U+271A-271D, U+2720-2727, U+2731-2734, U+2736-274C, U+274E, U+2756,
    U+2758-275A, U+2761, U+2764, U+276C-2771, U+2776-2794, U+279C-279E, U+27A1-27A7, U+27B0, U+27BF,
    U+27C2, U+27CA-27CB, U+27CD, U+27D2-27E1, U+27E6-27EB, U+27EE-2926, U+2933-2935, U+2940-2941,
    U+2947-2948, U+294A-2965, U+296E-296F, U+2980-2984, U+2987-298A, U+2999-299A, U+29A2-29A3,
    U+29B0-29BF, U+29C4-29CB, U+29CD-29CE, U+29D1-29DB, U+29DF, U+29E2-29E9, U+29EB, U+29F4-29FB,
    U+2A00-2A02, U+2A05-2A06, U+2A09, U+2A11-2A16, U+2A1D-2A26, U+2A2A-2A32, U+2A34-2A36, U+2A38,
    U+2A3C-2A43, U+2A4C-2A4F, U+2A53-2A54, U+2A57-2A58, U+2A5A-2A73, U+2A7D-2A80, U+2A85-2A8A,
    U+2A8D-2A8E, U+2A95-2A9A, U+2A9D-2A9E, U+2AAA-2ABA, U+2ABD-2ABE, U+2ACF-2AD2, U+2AD9-2AE0,
    U+2AE2-2AF6, U+2AFC-2AFD, U+2B00-2B3F, U+2B45-2B46, U+2B4D, U+2B50-2B55, U+2B58-2B59,
    U+2B60-2B73, U+2B7A-2B87, U+2B8C-2B95, U+2BA0-2BA7, U+2BB8-2BC8, U+2BCA-2BD2, U+2BE8-2BEF,
    U+2BFA-2BFF, U+2C60-2C7F, U+2DE0-2DFF, U+2E0B-2E0D, U+2E12-2E13, U+2E18, U+2E1A-2E2E;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-BoldItalic.4.woff2") format("woff2");
  unicode-range:
    U+2E2F-2E38, U+2E3A-2E3B, U+2E3D-2E3E, U+2E40-2E4B, U+2E52, U+2E59-2E5C, U+2FF0-303F,
    U+3041-3096, U+3099-30FF, U+3105-312F, U+3131-318E, U+3190-31E5, U+31EF-321E, U+3220-332B,
    U+332D-33FF, U+4DC0-4DFF, U+A640-A695;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-BoldItalic.5.woff2") format("woff2");
  unicode-range:
    U+A696-A69F, U+A700-A727, U+A72A-A737, U+A73E-A745, U+A748-A74B, U+A74E-A751, U+A75A-A75B,
    U+A760-A761, U+A764-A767, U+A779-A795, U+A798-A7C1, U+A7C4-A7CF, U+A7DA-A7DC, U+A7F1-A7FF,
    U+A92E, U+A960-A97C, U+AB30-AB33, U+AB35-AB47, U+AB49, U+AB4B-AB4F, U+AB52-AB53, U+AB5B-AB6B,
    U+AC00-AFA4;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-BoldItalic.6.woff2") format("woff2");
  unicode-range: U+AFA5-B454;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-BoldItalic.7.woff2") format("woff2");
  unicode-range: U+B455-B904;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-BoldItalic.8.woff2") format("woff2");
  unicode-range: U+B905-BDB4;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-BoldItalic.9.woff2") format("woff2");
  unicode-range: U+BDB5-C264;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-BoldItalic.10.woff2") format("woff2");
  unicode-range: U+C265-C714;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-BoldItalic.11.woff2") format("woff2");
  unicode-range: U+C715-CBC4;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-BoldItalic.12.woff2") format("woff2");
  unicode-range: U+CBC5-D074;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-BoldItalic.13.woff2") format("woff2");
  unicode-range: U+D075-D524;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-BoldItalic.14.woff2") format("woff2");
  unicode-range:
    U+D525-D7A3, U+D7B0-D7C6, U+D7CB-D7FB, U+E0A0-E0A3, U+E0AE-E0BF, U+EE00-EE0B, U+F880-F883,
    U+F891-F892, U+F896-F89F, U+FB00-FB06, U+FB29, U+FE10-FE19, U+FE30-FE52, U+FE54-FE66,
    U+FE68-FE6B, U+FEFF, U+FF01-FFBE, U+FFC2-FFC7, U+FFCA-FFCF, U+FFD2-FFD7, U+FFDA-FFDC,
    U+FFE0-FFE6, U+FFE8-FFEE, U+FFFC-FFFD, U+10780-10785, U+10787-107B0, U+107B2-107BA,
    U+1CC00-1CC45, U+1CC56-1CC5D;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-BoldItalic.15.woff2") format("woff2");
  unicode-range:
    U+1CC5E-1CC63, U+1CC65-1CC91, U+1CC97-1CC9D, U+1CCA6-1CCB9, U+1CCD2-1CCF9, U+1CD00-1CDE5,
    U+1CDF0-1CDF7, U+1CDFB-1CDFC, U+1CE00-1CEB1, U+1CEB3, U+1D110-1D112, U+1D12A-1D133,
    U+1D18C-1D191, U+1D300-1D356, U+1D360-1D371, U+1D377-1D378, U+1D400-1D454, U+1D456-1D49B,
    U+1D504-1D505, U+1D507-1D50A, U+1D50D-1D514, U+1D516-1D51C, U+1D51E-1D539, U+1D53B-1D53E,
    U+1D540-1D544, U+1D546, U+1D54A-1D550, U+1D552-1D68D;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-BoldItalic.16.woff2") format("woff2");
  unicode-range:
    U+1D68E-1D6A5, U+1D6A8-1D7CB, U+1D7CE-1D7FF, U+1DF01-1DF10, U+1DF12-1DF1E, U+1E030-1E06D,
    U+1E08F, U+1F0A0-1F0AE, U+1F0B1-1F0BF, U+1F0C1-1F0CF, U+1F0D1-1F0F5, U+1F100-1F1AD,
    U+1F200-1F202, U+1F210-1F23B, U+1F240-1F248, U+1F250-1F251, U+1F780-1F7BF, U+1F800-1F80B,
    U+1F810-1F847, U+1F850-1F859, U+1F860-1F887, U+1F8B0-1F8BB, U+1F8C0-1F8C1, U+1F8D0-1F8D8,
    U+1FB00-1FB92, U+1FB94-1FBCA, U+1FBCC, U+1FBCE-1FBE1;
}

@font-face {
  font-family: "Sarasa Fixed K";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("woff2/SarasaFixedK-BoldItalic.17.woff2") format("woff2");
  unicode-range: U+1FBE2-1FBF9, U+30729, U+30EDD-30EDE, U+3106C;
}
